//@media only screen and (max-width: $mobile) {
//    
//}
//
//@media only screen and (min-width: $mobile + 1px) and (max-width: $tablet) {
//
//}

@media only screen and (min-width: $tablet + 1px) and (orientation: landscape) {

    body {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }    
    
//    #bodyBckgrnd {
//        background: url("../images/background/mapa.JPG") 0 0 no-repeat;
//        width: 3264px;
//        height: 2448px;
//        position: absolute;
//        margin: auto;
//    }
//    
    
    body {
        background: url("../images/background/mapa.JPG") 0 0 no-repeat;
    }
}
