#barbarian, #knight, #rogue {
    width: 250px;
    height: 350px;
    margin: 30px;
    display: inline-block;
    position: absolute;
    
    &:hover {
        background-color: rgba(255,250,102,0.5);
    }
}

#rogue {
    top: 200px;
    right: 136px;
}

#knight {
    top: 200px;
    left: 301px;
}

#barbarian {
    top: 200px;
    left: 97px
}




// Wybór bohatera - checkbox

#tab_3 input[type=radio] {
    display:none;
}
 
#tab_3 input[type=radio] + label {
    display:inline-block;
    padding: 0 0 0 0px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    width: 250px;
    cursor: pointer;
}

#barbarian input[type=radio] + label {
    background-image: url("../images/barb.png");
}

#knight input[type=radio] + label {
    background-image: url("../images/knight.png");
}

#rogue input[type=radio] + label {
    background-image: url("../images/pnp_rogue.png");
}


#tab_3 input[type=radio]:checked + label {
    background-color: rgba(255,250,102,0.5);
}