#barbarian, #knight, #rogue {
    width: 150px;
    height: 250px;
    margin: 30px;
    display: inline-block;
    border: 1px solid black;
    
    &:hover {
        background-color: rgba(255,250,102,0.5);
    }
}


// Wybór bohatera - checkbox

#tab_3 input[type=radio] {
    display:none;
}
 
#tab_3 input[type=radio] + label {
    background-color: white;
    height: 250px;
    width: 150px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tab_3 input[type=radio]:checked + label {
    background-color: rgba(255,250,102,0.5);
}